.home-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 50px;
}

.img-container img {
    width: 100%;
}

/* responsive with row css */
@media only screen and (max-width:576px) {
    .home-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* 
@media only screen and (min-width: 577px) and (max-width: 992px) {
    .home-container {
        grid-template-columns: repeat(2, 1fr);

    }

} */